<!DOCTYPE html>
<html>
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://d3js.org/d3-selection-multi.v1.min.js"></script>
  <script src="{{url_for('static', filename='d3-timelines.js')}}"></script>
  <script src="{{url_for('static', filename='d3-tip.js')}}"></script>
  <!-- <script src="d3-timelines.js"></script>
  <script src="d3-tip.js"></script> -->
  <head>
    <title>Web Logging History Timeline</title>
  </head>
  <style>
    table,
    th,
    td {
      padding: 10px;
      border: 1px solid black;
      border-collapse: collapse;
    }

    circle {
      stroke-width: 1px;
      stroke: black;
      opacity: 0.6;
    }
  </style>
  <body>
    <script src="{{url_for('static', filename='logging.js')}}" type="module"></script>
    
    <table id="historyTable">
      <tr>
        <th>Time opened</th>
        <th>Webpage</th>
        <th>Remove?</th>
      </tr>
    </table>
  </body>
</html>
